<% flash.each do |type, message| 
	className = type
	className = 'info' if ['notice'].include? type
	className = 'warning' if ['alert'].include? type
%>
<div class="alert alert-<%= className %>">
	<%= message.html_safe %>
</div>
<% end -%>

<%# validation_errors.each do |msg| %>
	<%#= render 'webcore/flash_msg', {message: msg, className: 'danger' } %>
<%#end %>