/* Sensible layout defaults for all themes and pages */
#content_row, .widget
{
	background-color: white;
}
.bordered
{
	border: solid #ccc 1px;
	border-radius: 5px;
}
#content, #sidebar
{
	padding: 1em;
}

#sidebar
{
	background-color: #EEE;
}

#main #navbar,
#admin_navbar
{
	margin-bottom: 0px;
}
#main #header
{
	position: relative;
	padding: 0px;
	padding: 1em 0em;
}
#page_title_row
{
	margin: 0px;
	margin-top: 10px;
}

#page_title
{
	margin-top: 0px;
}


#main .breadcrumb
{
	margin-bottom: 0px;
}

/* common objects */
#content .date
{
	font-style: italic;
	display: block;
	padding: 10px 0px;
}

#content .summary
{
	font-weight: bold;
	line-height: 2em;
	margin: 10px 0px;
	min-height: 50px;
}
#content .widget .summary
{
	line-height: 1em;
	margin: 5px 0px;
}

#content .content
{
	margin: 10px 0px;
	max-width: 600px;
	min-height: 100px;
}

#content .index .title,
#content .widget .title
{
	font-weight: bold;
	font-size: 1.2em;
}

.widget > div
{
	padding: 1em;
}

.widget > h4
{
	margin: 0;
	padding: 0.5em;
}
.widget img
{
	max-width: 95%;
	padding: 10px 0px;
}

#content .widget .date
{
	padding: 0px;
}

#content_row
{
	margin: 0 auto; /* allows centering with custom width */
}
