<div class='form margin25 padding10 border'>
<%= bootstrap_form_for @page_photo, signed: false, html: { :id => 'PagePhotoUploadForm', :multipart => true } do |f| %>

<!-- file field start -->
<%= f.file_field :photo, "data-upload": "/webcore/page_photos", "data-update": "#PagePhoto", accept: 'image/*', hide_label: true, id: 'PagePhotoUpload', XXXmultiple: 'XXXmultiple' %>
<!-- file field end -->
<% end %>
</div>

<script>
$(document).ready(function() {
	$.dialogtitle("Upload Photo");
});
</script>