<div class='form'>
<% bootstrap_form_for @page_photo, html: { :multipart: true } do |f| %>

<div id='PagePhotoUploadError' style='display: none;' class='alert alert-danger'></div>

<%= f.file_field :file, accept: 'image/*', id: 'PagePhotoUpload', multiple: 'multiple' %>

<% end %>
</div>

<script>
$(document).ready(function() {
	$.modaltitle("Upload Photo");

	$('#PagePhotoUpload').fileupload({
		url: "/webcore/page_photos",
		dataType: 'json',
		type: 'POST',
		add: function(e) {
			$('#PagePhotoUploadError').html('').hide();
		},
		done: function(e, data) {
			console.log(data);
			if(data.error)
			{
				$('#PagePhotoUploadError').html(data.error).show();
				console.log("ERROR="+data.error)
			} else if(data.html) {
				$('#PagePhoto').html(data.html);
				$.modalclose();
			}


		}
	});
});
</script>