<!DOCTYPE html>
<html>
<head>
  <title>Webcore</title>
  <%= stylesheet_link_tag    "webcore/application", media: "all" %>
  <%= javascript_include_tag "webcore/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
